.None {
    /* Your CSS styles for the None background variation here */
    background: transparent;
}

.Middle {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--bg) 15%, var(--bg) 85%, rgba(0, 0, 0, 0) 100%);
    /* Your CSS styles for the Middle background variation here */
}

.Bottom {
    background: linear-gradient(0deg, #0A1625 0%, var(--bg) 85%);
    /* Your CSS styles for the Bottom background variation here */
}